<section class="bg-crumpled-paper bg-white bg-cover -mt-24">
  <div class="max-w-6xl mx-auto flex">
    <div class="mt-32 mb-24 w-full">
      <div class="max-h-[600px]">
        <div class="h-[600px] w-full">
          <div class="relative flex flex-col md:flex-row items-center h-full">
            <div
              class="w-full md:w-1/2 font-gleglo-bold text-5xl/tight xl:text-6xl/tight text-center"
            >
              <div>Reinforces</div>
              <div>the learned</div>
              <div class="flex justify-center">
                <div>in</div>
                <div class="px-4 -mt-6">
                  <span class="font-nanumpen text-skyblue-600 text-9xl"
                    >class</span
                  >
                </div>
              </div>
            </div>
            <img
              src="assets/carousel-img-1.png"
              class="absolute top-1/2 right-0 -translate-y-1/2 z-10 h-full"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-skyblue-600 flex items-center">
  <div class="max-w-6xl mx-auto flex">
    <div class="bg-clip-paper bg-100% my-24 max-w-4xl max-h-[515px] flex flex-row-reverse items-center relative">
      <img src="assets/cloud-girl.png" class="absolute top-[57%] left-[-7%] -translate-y-1/2 h-[105%]" />
      <div class="w-4/6 pl-8 pr-6 md:px-16 text-center leading-none flex flex-col items-center justify-center"
        style="height: 515px">
        <div class="font-nanumpen text-gray-800 text-8.25xl tracking-tighter mt-4">
          Welcome!
        </div>
        <div class="font-gleglo-bold text-skyblue-600 text-xl md:text-3xl lg:text-4xl mb-2">
          Virtual Syllabus
        </div>
        <div class="font-gleglo text-gray-800 text-sm/loose md:text-base/loose lg:text-lg/loose font-bold mb-4">
          A place designed for you to consolidate the mathematics and physics
          courses learned at your school
        </div>
        <div
          class="font-nanumpen text-white bg-skyblue-600 inline-block text-5xl px-4 md:px-16 cursor-pointer opacity-100 hover:opacity-80 transition-opacity duration-300 ease-in-out rounded-lg py-1">
          See Courses
        </div>
      </div>
    </div>
  </div>
</section>

<section class="-my-12 bg-skyblue-100">
  <div class="max-w-6xl mx-auto py-28 flex flex-col text-center leading-none">
    <div class="font-gleglo-bold text-3xl xl:text-4.5xl mb-4">
      <div>Who can</div>
      <div>enter Virtual Syllabus?</div>
    </div>
    <div class="mx-auto w-full h-[460px] flex flex-row-reverse items-center relative">
      <img src="assets/laptop-web.png" class="absolute top-1/2 left-0 h-full -translate-y-1/2" />
      <div class="w-1/2 font-gleglo-bold text-2xl/tight xl:text-3xl/tight text-gray-800 z-10">
        <div>If you are in Middle or High</div>
        <div>School, you can enter and</div>
        <div>reinforce with our learning.</div>
      </div>
    </div>
  </div>
</section>

<section class="-my-12 bg-jade-600">
  <div class="max-w-6xl mx-auto flex">
    <div class="mt-10 mb-24 w-full h-[520px] mx-auto flex flex-col md:flex-row items-center relative">
      <div class="w-2/3 text-center">
        <div
          class="bg-piece-paper bg-contain bg-no-repeat bg-center py-9 -skew-y-1 w-full flex flex-col justify-center items-center font-gleglo-bold text-4.5xl">
          <div>How can I</div>
          <div>
            be
            <span class="font-nanumpen text-6xl text-skyblue-600">part of it?</span>
          </div>
        </div>
        <div class="font-gleglo-bold text-2xl/tight xl:text-3xl/tight text-gray-800">
          It's very simple, just create an account, choose the subject and the topic you want to reinforce and that's it, keep on improving.
        </div>
      </div>
      <img src="assets/go-guy.png" class="absolute top-[55%] -right-24 -translate-y-1/2 z-10 h-[110%]" />
    </div>
  </div>
</section>
