<section class="bg-crumpled-paper bg-white bg-cover -my-24">
  <div class="max-w-6xl mx-auto flex">
    <div class="my-32 w-full">
      <div class="max-h-[600px]">
        <div class="h-[600px] w-full">
          <div class="relative flex flex-col md:flex-row items-center h-full">
            <div
              class="w-full md:w-1/2 font-gleglo-bold text-5xl/tight xl:text-6xl/tight text-center"
            >
              <div>Reinforces</div>
              <div>the learned</div>
              <div class="flex justify-center">
                <div>in</div>
                <div class="px-4 -mt-6">
                  <span class="font-nanumpen text-skyblue-600 text-9xl"
                    >class</span
                  >
                </div>
              </div>
            </div>
            <img
              src="assets/carousel-img-1.png"
              class="absolute top-1/2 right-0 -translate-y-1/2 z-10 h-full"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
