<section class="bg-skyblue-100 -my-24">
  <div class="max-w-6xl mx-auto flex py-28">
    <div class="w-1/4 flex flex-col">
      <div
        class="text-white bg-jade-600 mx-auto font-nanumpen text-4xl px-6 rounded-t-lg"
      >
        courses
      </div>

      <div
        class="rounded-lg py-6 px-6 font-monserrat text-lg text-zinc-700 bg-white max-h-96 flex flex-col gap-3"
      >
        @for (course of courses; track $index) {
        <div
          [class]="
            'hover:opacity-80 rounded-lg py-3 px-5 flex items-center gap-5 cursor-pointer' +
            (isActiveCourse(course) ? ' bg-skyblue-500' : '')
          "
          (click)="setActiveCourse(course)"
        >
          <ng-icon name="ionLibrary" size="30" /> {{ course.name }}
        </div>
        }
      </div>
    </div>
    <div class="w-3/4">
      <div
        class="bg-paper-sheet bg-white bg-100% relative max-w-3xl h-[32rem] ml-32 py-16 pl-20 flex flex-col items-center"
      >
        <div
          class="bg-photo bg-contain bg-no-repeat bg-center w-1/3 absolute top-0 left-[-15%] h-full"
        ></div>
        <div class="w-4/5 flex-1 px-2 overflow-auto scroll-bg-skyblue">
          @if (activeCourse) {
          <app-accordion>
            @for (section of activeCourse.sections; track $index) {
            <app-accordion-item [title]="section.name">
              @for (topic of section.topics; track $index) {
              <div class="ml-6">- {{ topic.name }}</div>
              }
            </app-accordion-item>
            }
          </app-accordion>
          }
        </div>
      </div>
    </div>
  </div>
</section>

<app-divider
  skew="right"
  [wave]="true"
  topBackground="bg-skyblue-100"
  bottomBackground="bg-skyblue-300"
/>

<section class="-mt-8 bg-skyblue-300 pb-24 -mb-24">
  <div class="max-w-6xl mx-auto flex flex-col">
    <div
      class="mt-10 mb-24 w-[900px] h-[500px] mx-auto flex flex-col-reverse md:flex-row-reverse items-center relative"
    >
      <img
        src="assets/hey-guy.png"
        class="absolute top-[58%] -left-[5%] -translate-y-1/2 h-[105%]"
      />
      <div class="w-1/2 px-10 text-center flex flex-col">
        <div class="font-gleglo-bold text-3xl lg:text-4xl mb-3">
          Ready to continue
          <span class="font-nanumpen text-5xl lg:text-6xl text-white">
            improving?
          </span>
        </div>
        <div
          class="font-gilroy-extrabold text-2xl lg:text-3xl bg-skyblue-600 rounded-lg text-white py-5 cursor-pointer opacity-100 hover:opacity-80 transition-opacity duration-300 ease-in-out"
        >
          Yes, create my account
        </div>
      </div>
    </div>
  </div>
</section>
