<section class="h-screen bg-grid-paper bg-repeat -my-24 pt-20">
  <div class="w-full h-full max-w-5xl mx-auto flex items-center gap-4">
    <img
      src="assets/register-girl.png"
      class="object-contain w-7/12 max-h-[700px]"
    />
    <div
      class="w-5/12 bg-note-paper bg-100% flex flex-col justify-center pl-24 pr-20 pb-3 max-h-[600px] min-h-[500px] mx-10 h-full"
    >
      <div class="font-nanumpen text-skyblue-500 text-7xl -mb-4 text-center">
        Welcome!
      </div>

      <div class="w-full border-b-2 my-3"></div>

      <div class="font-gleglo-bold text-lg text-center">
        Sign up to begin
        <br />
        your training process
      </div>

      <div class="w-full border-b-2 my-3"></div>

      <div class="text-sm">
        <label>First Name</label>
        <input
          class="w-full p-2 border text-black border-skyblue-300 rounded-lg bg-skyblue-100 text-xs"
          type="text"
        />
      </div>

      <div class="text-sm">
        <label>Last Name</label>
        <input
          class="w-full p-2 border text-black border-skyblue-300 rounded-lg bg-skyblue-100 text-xs"
          type="text"
        />
      </div>

      <div class="text-sm">
        <label>Email</label>
        <input
          class="w-full p-2 border text-black border-skyblue-300 rounded-lg bg-skyblue-100 text-xs"
          type="email"
        />
      </div>

      <div class="text-sm">
        <label>Password</label>
        <input
          class="w-full p-2 border text-black border-skyblue-300 rounded-lg bg-skyblue-100 text-xs"
          type="password"
        />
      </div>

      <div class="w-full border-b-2 my-3"></div>

      <div class="text-white">
        <button
          class="flex items-center gap-2 rounded-4xl px-4 py-2 bg-skyblue-600 font-medium opacity-100 hover:opacity-80 transition-opacity duration-300 ease-in-out mx-auto"
        >
          <ng-icon name="ionArrowRedo" size="20" />
          Register
        </button>
      </div>
    </div>
  </div>
</section>
