<header class="relative flex justify-between items-center px-16 h-24">
  <img src="assets/full-logo-virtual.png" alt="logo-virtual" width="140" />
</header>

<router-outlet />

<footer class="flex justify-center items-center gap-6 h-24 bg-white text-sm">
  <label
    >Developed by
    <a
      class="font-bold text-base"
      [href]="'https://github.com/Galeid'"
      target="_blank"
      >&#64;<span class="underline">Galeid</span></a
    ></label
  >
  <img src="assets/full-logo-virtual.png" width="140" />
</footer>
